

<mat-card class="card" *ngIf="f_vec && S_mag && EQ_mag">
  <mat-card-content>
<app-figure1 [f_vec]="f_vec" [S_mag]="S_mag" [EQ_mag]="EQ_mag"></app-figure1>
  </mat-card-content>
</mat-card>

<mat-card class="card" *ngIf="f_vec && W1_mag">
  <mat-card-content>
<app-figure2 [f_vec]="f_vec" [W1_mag]="W1_mag" ></app-figure2>
  </mat-card-content>
</mat-card>

<mat-card class="card" *ngIf="f_vec && H1_Mag">
  <mat-card-content>
<app-figure3 [f_vec]="f_vec" [H1_mag]="H1_Mag" ></app-figure3>
  </mat-card-content>
</mat-card>

<mat-card class="card" *ngIf="magnitudeOfH1 && phaseOfH1" >
  <mat-card-content>
<app-figure4 [magnitudeOfH1]="magnitudeOfH1" [phaseOfH1]="phaseOfH1" ></app-figure4>
  </mat-card-content>
</mat-card>


<mat-card class="cardSlider" *ngIf="magnitudeOfH1 && phaseOfH1" 
[ngDraggable]="draggable"
>
  <mat-card-content>
    <h2 class="example-h2">Eq: Fcut <span (click)="toggleDrag()" style="float:right; color:blue; cursor:pointer">toggle drag</span></h2>
    <mat-slider
        class="example-margin"
        [max]="max_eq_fcut"
        [min]="min_eq_fcut"
        [(ngModel)]="value_eq_fcut"
        (input)="fcut_update($event)">
    </mat-slider>
  </mat-card-content>
  <mat-form-field class="example-margin">
    <input matInput type="number" placeholder="value" [(ngModel)]="value_eq_fcut" (keyup)="fcut_update($event)">
  </mat-form-field>
</mat-card>

<mat-card class="cardSlider" *ngIf="magnitudeOfH1 && phaseOfH1" 
[ngDraggable]="draggable">
  <mat-card-content>
    <h2 class="example-h2">W1_g<span (click)="toggleDrag()" style="float:right; color:blue; cursor:pointer">toggle drag</span></h2>

    <mat-slider
        class="mat-slider-horizontal"
        [max]="max_w1_g"
        [min]="min_w1_g"
        [(ngModel)]="value_w1_g"
        (input)="w1_g_update($event)">
    </mat-slider>
  </mat-card-content>
  <mat-form-field class="example-margin">
    <input matInput type="number" placeholder="value_eq_fcut" [(ngModel)]="value_w1_g" (keyup)="w1_g_update($event)">
  </mat-form-field>
</mat-card>
